<!-- <app-firstform></app-firstform> -->
<app-secondform></app-secondform>
<!-- <app-trial></app-trial> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-buildform></app-buildform> -->
<!-- <app-crossverify></app-crossverify> -->
<!-- <app-allinone></app-allinone> -->
<!-- <app-allintwo></app-allintwo> -->
<!-- <app-lifecycle [data]="first"></app-lifecycle> -->
<!-- <app-product></app-product> -->
<!-- <app-product1></app-product1> -->
<!-- <app-output></app-output> -->


<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/product" >product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trial" >trial</a>
    </li>
    
  </ul>
</nav>
<router-outlet></router-outlet> -->