<p>crossverify works!</p>
<div class="container w-50 mt-5">
  <form [formGroup]="signupform" (ngSubmit)="save()">
    <!-- <div class="mb-3">
      <label for="id1" class="form-label">Email address</label>
      <input type="text" class="form-control" id="id1" formControlName="Email">
      <div *ngIf="Email?.invalid&&Email?.touched">
        <div class="invalid-feedback d-block" *ngIf="Email?.errors?.['required']">required</div>
       
      </div>  
    </div> -->
    <div>
      <label class="form-label">verify Email</label>
      <input type="text" formControlName="CEmail" class="form-control">
    </div>
    <div class="invalid-feedback d-block" >
      <div  *ngIf="CEmail?.dirty && CEmail?.errors?.['gmail']">Enter valid email</div>
      <!-- <div *ngIf="CEmail?.dirty && CEmail?.['valid']">not match</div> -->
      
    </div>
    <!-- <div class="mb-3">
      <label for="id2" class="form-label">Password</label>
      <input type="text" class="form-control" id="id2" formControlName="password">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Conform Password</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="cpassword">
    </div>
    <div class="invalid-feedback d-block">
      <div *ngIf="cpassword?.errors?.['passwordmissmatch']">password and conform password match</div>

    </div> -->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signupform.invalid" (click)="save()">Submit</button>
  </form>
</div>